.user-main {
  .ivu-menu-vertical.ivu-menu-light:after{
    width: 0;
  }
  .ivu-menu-light.ivu-menu-vertical .ivu-menu-item:not(.ivu-menu-submenu) {
    color: #596980;
    border-bottom: 1px solid #414448;
    &:hover {
      background: #353535;
      color: #fff;
    }
  }
  .ivu-menu {
    background: #353535;
    &.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
      border-right: 0px;
      color:#fff;
      border-bottom: 1px solid #4CB2F9;
      &:hover {
        color: #595959;
      }
    }
  }
}
.ivu-col {
  background: #222222;
  padding: 0 10px;
}
.safe-level {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #383A3D;
}
.setting-item {
  // width: 300px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #383A3D;
  // margin: 20px auto;
  // border-radius: 4px;
  position: relative;
  // .item-pic {
  //   display: inline-block;
  //   width: 70px;
  //   height: 70px;
  //   border-radius: 50%;
  //   margin: 35px 30px;
  //   vertical-align: middle;
  //   i {
  //     display: block;
  //     width: 70px;
  //     height: 70px;
  //     border-radius: 50%;
  //     background-image: url(/static/img/icon-info.png);
  //     background-repeat: no-repeat;
  //   }
  // }
  &.bind-tradepass {
    border-bottom: 0px;
  }
  .item-content {
    // margin-top: 50px;
    // width: 180px;
    text-align: left;
    width: 60%;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    h3 {
      color: #666;
      font-size: 14px;
      font-weight: 400;
      float: left;
      width: 300px;
    }
    a {
      font-size: 12px;
    }
    a.active {
      color: #aaa;
      &:hover {
        color: #333;
      }
      &.disabled:hover {
        color: #aaa;
      }
    }
  }
  .item-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-align: right;
    color: #aaa;
    font-size: 12px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      color: #666;
    }
    &.disabled:hover {
      color: #aaa;
    }
  }
}
$bind-email-color: #6dea6a;
$bind-name-color: #6ABEEA;
$bind-phone-color: #CA78FA;
$bind-code-color: #6F7BF3;
$bind-loginpass-color: #F4E058;
$bind-tradepass-color: #FFA257;
.icon-status {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  color: #423733;
  margin-right: 2px;
}
.icon-status.icon-to-be-set {
  background: #DF522D;
}
.icon-status.icon-setted {
  background: #5EAB75;
}
.ivu-input-group-append .ivu-btn.send-code {
  background: #2d8cf0;
  color: #fff;
}
.ivu-btn-primary.btn-block {
  width: 100%;
  margin: 0 auto;
}
.errmsg {
  padding: 6px 0;
  font-size: 12px;
  color: #f00;
}
.img-code-input .ivu-input-group-append{
  padding: 0;
  img {
    display: block;
    width: 100px;
    height: 30px;
  }
}