html body {
  font-size: 14px;
  min-width: 1200px;
  overflow-x: scroll;
  color: #333;
  background: #f9f9f9;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.clear::before,.clear::after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}