html body {
  font-size: 14px;
  min-width: 1200px;
  overflow-x: scroll;
  color: #333;
  background: #f9f9f9;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.clear::before,.clear::after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.color-white {
  color: #fff;
}
.color-yellow {
  color: #ffb900;
}
.bg-white {
  background: #fff;
}
.bg-dark {
  background: #000;
}
.bg-333 {
  background: #333;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.primary-color {
  color: #2d8cf0;
}
.primary-border{
  border: 1px solid #2d8cf0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}