.left .group span,a{
    background: none !important;
    border:none !important;
}
.header-chart-panel .button::before{
    border:none !important;
    
}
.time_button_header span{
    font-weight: normal;
}
.header-chart-panel-content .select{
    color:#f1f3fc !important;
    background: #20334d !important;
}

.time_button_header:hover{
  color:#d3d7eb !important;
  background: #273e5e !important;
}

.header-chart-panel-content .header-group-fullscreen{
    float:right;
}
.layout__area--center .chart-container{
    border:none;
}
.wrapper{
    display: none !important; 
}
.chart-controls-bar{
    display: none;
}